<meta charset="ISO-8859-1">
<div ng-controller="usuarioController">
	<div ng-include="getNav()"></div>
</div>
<div ng-include="'header.html'"></div>
<div>
	<table border="1" width="100%">
		<tr>
			<th>Código</th>
			<th>Copia</th>
			<th>Nombre</th>
			<th>Estado</th>
			<th>Tipo</th>
		</tr>
		<tr ng-repeat="device in listaDevices">
			<td>{{device.deviceId.code}}</td>
			<td>{{device.deviceId.copy}}</td>
			<td>{{device.name}}</td>
			<td>{{device.status}}</td>
			<td>{{device.type}}</td>
			<td><button ng-click="getPrestamos(device)">Disponibilidad</button></td>
		</tr>
	</table>
	<div>
		
	</div>
</div>